{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
    <h1>About Us</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aspernatur optio dignissimos similique sunt exercitationem. Eius eos non incidunt excepturi provident sapiente dolore minima quia praesentium unde laboriosam illum iste, et possimus.
        Rerum, id enim saepe sit nostrum vero iure atque nemo tenetur aspernatur ipsa. Sapiente eveniet suscipit velit corrupti debitis eum ad harum perspiciatis labore nobis in rerum similique, at repellendus optio veniam quidem! Quod sequi aspernatur
        illum. Impedit.</p>
</div>
{% endblock %}